name: Update Dolthub Database

on:
  push:
    branches:
      - main
      - master
  schedule:
    # Run daily at midnight UTC
    - cron: "0 0 * * *"

env:
  # required otherwise github api calls are rate limited
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  update_dolt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Free Disk Space (Ubuntu)
        # Reclaiming ~30GB is critical for the sparse-checkout of 700k+ files and DuckDB disk-spilling
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but default is "false"
          tool-cache: false

          # all of these default to true, but feel free to set to "false" if needed
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - uses: jdx/mise-action@v2
      - run: just setup
      # https://github.com/dolthub/dolt-action
      # the easiest way to a jwt is to look at ~/.dolt/creds/ and copy the jwt in the directory
      - run: |
          echo '${{ secrets.DOLTHUB_TOKEN }}' | dolt creds import
          dolt config --global --set user.email "mike@mikebian.co"
          dolt config --global --set user.name "Michael Bianco"

      - run: just update_dolt

  # https://github.com/gautamkrishnar/keepalive-workflow
  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
