name: Update Dolthub Database

on:
  push:
    branches:
      - main
      - master
  schedule:
    # Run daily at midnight UTC
    - cron: "0 0 * * *"

env:
  # required otherwise github api calls are rate limited
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  update_dolt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: just setup
      - uses: jlumbroso/free-disk-space@main
      # https://github.com/dolthub/dolt-action
      # the easiest way to a jwt is to look at ~/.dolt/creds/ and copy the jwt in the directory
      - run: |
          echo '${{ secrets.DOLTHUB_TOKEN }}' | dolt creds import
          dolt config --global --set user.email "mike@mikebian.co"
          dolt config --global --set user.name "Michael Bianco"

      - run: just update_dolt

  # https://github.com/gautamkrishnar/keepalive-workflow
  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
